body {
    ont-family: RobotoDraft, sans-serif;
    color: #ffffff;
    margin: 0;
    background-color: #429EA9;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
core-toolbar {
    background-color: #1A3E42;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 1.5em;
    position: fixed;
    width: 100%;
}
paper-fab {
	background-color: #5BD9E8;
	position: absolute !important;
	top: 35px;
	right: 1em;
	z-index: 1;
}
.info{
	z-index: 1;
	font-family: Stoke, sans-serif;
	font-size: 20px;
	margin-left: 3%;
	margin-right: 5%;
	height: 100px;
	width: 560px;
	text-align: justify;
	/*box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);*/
}
.log{
	height: 310px;
	width: 240px;
	margin-right: 45%;
	margin-left: 65%;
	z-index: 1;
	overflow: hidden;
}
input{
	border-radius: 6px;
	height: 30px;
	width: 200px;
	margin: 20px;
	overflow: auto;
	box-shadow: 6px 13px 20px rgba(0, 0, 0, 0.5);
	font-size: 20px;
}
.global{
	height: 100%;
	width: 100%;
	top: 70px;
	position: fixed;
}
th, td{
	font-size: 11px;
	padding: 10px;
	border: 1px solid black;
}
.align{
	text-align: left;;
}
.buttonInicioSesion{
	color: #ffffff;
	box-shadow: 6px 13px 20px rgba(0, 0, 0, 0.5);
	background-color: #5BD9E8;
	width: 120px;
	float: right;
	font-size: 17px;
}.resaltos{
	color: #1A3E42;
	font-weight: 900;
}
.positionUser{
                    position: absolute !important;
                    right: 4em;
                    top: 20px;
                  }
                  .history{
                    background-color: #b40000;
                    position: absolute !important;
                    top: 35px;
                    right: 4.5em;
                    z-index: 1;
                    
                }
                .positionUser{
                    position: absolute !important;
                    right: 7.5em;
                    top: 20px;
                  }
footer {
            position: fixed;
            top: 625px;
            height: 100%; 
            padding:5px 0px;
            clear: both;
            background: #1A3E42;
            text-align: center;
            color: #fff;
        }
        .define {
            width: 100%;
            margin:0 auto;
        }
 .reverse{
                    background-color: #FF7E74;
                    position: absolute !important;
                    top: 35px;
                    right: 4.5em;
                    z-index: 1;
                    
                }
                .positionUser{
                    position: absolute !important;
                    right: 7.5em;
                    top: 20px;
                  }
                  .headerTable{
                    color: #000000;
                    background-color: #FF7E74;
                  }
