body{
	font-family: 'Stoke', sans-serif;
  	color: white;
  	margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}
core-toolbar{
  background-color: rgba(255,255,255,0.3);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.50);
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.5em;
}
paper-fab{
  position: absolute !important;
  top: 45%;
  right: 1em;
  z-index: 1;
  color: #4285f4;
}
.second_paper_fab{
  position: absolute !important;
  left: 0em;
  bottom: -550px;
  font-size: 15px;
  z-index: 1;
  border-radius: 5px;
  height: 75px;
  width: 180px;
  color: white;
  font-weight: 300;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.06);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.50);
}
.third_paper-fab{
  position: absolute !important;
  top: 45%;
  right: 5em;
  z-index: 1;
  color: #4285f4;
}
#fourth_paper-fab{
  position: absolute !important;
  top: 30%;
  right: 8.5em;
  z-index: 1;
}
.full_screen{
	position: fixed;
	top: 0;	
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: 50% 50%;
}
div strong span{
  color: #4285f4;
  font-size: 25px;
}
.center_datas{
  margin: 0 auto;
  width: 900px;
  height: 250px;
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.50);
  border-radius: 6px;
}
.button_panel{
  border: none;
  border-radius: 5px;
  color: white;
  width: 250px;
  height: 30px;
  font-size: 20px;
  margin-top: 12px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.50);
}
.button_panel:hover{
  background-color: #204DFF; 
  color: white ;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.80);
}
.divInit{
  height: 45px;
  width: 300px;
  text-align: center;
  margin-top: 30px;
  margin-left: 50px;
}
.information{
  width: 380px;
  height: 160px;
  margin-left: 50%;
  margin-top: -13%;
  margin-top: -15%;
  font-size: 13px;
}
form div span{
  font-size: 20px;
}
.stroke {
  color: white;
  letter-spacing: 0;
  text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
paper-fab:hover{
    background-color: #4285f4;
    color:white;
}